  <!-- ITEM -->
                        <div class="col-xs-6">
                            <div class="room_item-5" data-background='https://r-fa.bstatic.com/images/hotel/max1024x768/615/61583596.jpg'>

                                <div class="img">
                                    <a href="#"><img src=<%= room.path1 %> alt=""></a>
                                </div>

                                <div class="room_item-forward">
                                    <h2><a href="#"><%= room.name %></a></h2>
                                    <span class="price">Start form $120 per day</span>
                                </div>

                                <div class="room_item-back">
                                    <h3>STANDARD APARTMENT</h3>
                                    <span class="price">Start form $120 per day</span>
                                    <p>Lorem Ipsum is simply dummy text of the <b>printing</b> and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book ...</p>
                                    <%= link_to 'VIEW DETAILS', {:controller => "rooms", :action => "show", :id => 1}, :class => "awe-btn awe-btn-13", method: :get %>
                                    
                                </div>

                            </div>
                        </div>
                        <!-- END / ITEM -->

                      